html {
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
  font-family: 'Merriweather';

}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #d05c2e;
  margin: 0px;
  overflow: hidden;

}

h1 {
  font-family: 'Merriweather';
  color: #fff;
  text-align: center;
  margin: 0px;
  font-size: 2rem;
  padding-top: 0.5em;
}

nav {
  overflow: hidden;
  margin: 0;
  clear: left;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  text-align: center;
  float: left;
  width: 33.33%;
  border: 1px solid #a93f35;
  padding: 0.5em;
}

nav a {
  padding: 0.5em;
  margin: 0.20em;
  color: #fff;
  text-decoration: none;
  font-family: 'Merriweather';
  font-size: 1.15rem;
}

nav li:hover {
  background-color: #a93f35;
}

body {
  margin: 0px;
}


h2 {
  background-color: #dc8252;
  text-align: center;
  color: #fff;
  font-family: 'Merriweather';
  padding: 0.5em;
  margin: 0.5em;
}

div {
  background-color: #dc8252;
  overflow: hidden;
  border-top: 1px solid #d05c2e;
  border-bottom: 1px solid #d05c2e;
  clear: right;

}

p {
  font-family: 'Merriweather';
  margin: 1em;
  font-weight: 300rem;
  font-size: 0.85rem;
}

.inset-left {
  float: left;
  width: 8%;
  margin: 15px;
  border: 0px;

}

.inset-right {
  float: right;
  width: 8%;
  margin: 15px;
  border: 0px;

}

img {
  border: 1px solid #cccccc;

}

.inset-corn {
  width: 100%;
  margin: 0em;
  padding: 0em;
  border: 0px;
}

.inset-rice {
  width: 50%;
  float: left;
  padding: 0em;
  border: 0px;
}

.inset-oats {
  width: 50%;
  float: right;
  border: 0px;
}

.corn {
  font-family: 'Merriweather';
  font-style: italic;
  color: #fff;
  text-align: center;
  margin: 0em;
  padding: 0em 0em 1.5em 0em;
}

.rice {
  float: left;
  width: 50%;
  font-family: 'Merriweather';
  font-style: italic;
  color: #fff;
  text-align: center;
  margin: 0px;
  padding: 0.1em 0em 1.5em 0em;
}

.oats {
  float: left;
  width: 50%;
  font-family: 'Merriweather';
  font-style: italic;
  color: #fff;
  text-align: center;
  margin: 0px;
  padding: 0.1em 0em 1.5em 0em;

}

.inset-left2 {
  float: left;
  width: 35%;
  margin: 10px;
}

.inset-left3 {
  float: right;
  width: 35%;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0em;

}

.inset-left4 {
  width: 35%;
  float: right;
  margin: 10px;
  clear: right;
  padding: 0em;
}

.p2 {
  clear: left;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5em;
}

footer {
  background-color: #d05c2e;
  color: #dc8252;
  text-align: center;
  padding:1rem;
  clear: both;
  font-size: 0.75rem;
}

.peanuts {
  font-style: italic;
  font-weight: 700;
}

.italics {
  font-style: italic;

}

.inset-peanuts {
  width: 25%;
  margin: 0em 0em 2em 1em;
  padding: 0em;
  float: left;
}

.inset-beans {
  width: 25%;
  margin: 0em 0em 2em 1em;
  padding: 0em;
  clear: left;
  float: left;
}

.inset-lentils {
  width: 25%;
  margin: 0em 0em 2em 1em;
  padding: 0em;
  clear: left;
  float: left;
}

.line1 {
  float: left;
  margin: 0em 0em 0em 1em;
}

.line2 {
  float: left;
  margin: 0em 0em 0em 1em;
}

.line3 {
  float: left;
  margin: 0em 0em 0em 1em;
}
